.container {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(4, 150px);
  background: no-repeat url(https://codeberry-curriculum-assets.s3.eu-central-1.amazonaws.com/advanced-css-course/1.+a-css-c-3-4-grid.png);
  grid-gap: 10px;
}

.item {
  border: 1px solid #444444;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.item-1 {
  align-self: start;
  background-color: orange;
}

.item-2 {
  align-self: center;
  background-color: red;
}

.item-3 {
  align-self: stretch;
  background-color: green;
}

.item-4 {
  align-self: end;
  background-color: blue;
}